<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECRET</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            margin-top: 50px;
        }
        form {
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            background: #fff;
            width: 300px;
            border-radius: 5px;
        }
        input {
            margin: 10px 0;
            padding: 10px;
            width: calc(100% - 20px);
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 15px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        .message {
            color: red;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <h1>SECRET</h1>
    <% if (message) { %>
        <p class="message"><%= message %></p>
    <% } %>

    <form action="/register" method="POST">
        <h2>Регистрация</h2>
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="email" name="email" placeholder="Электронная почта" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <form>
        <a href="/auth/google" class="btn btn-primary">Войти через Google</a>
    </form>

    <form action="/login" method="POST">
        <h2>Вход</h2>
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Войти</button>
    </form>
</body>
</html>
